@font-face {
    font-family: "Manrope";
    src: url(./fonts/Manrope-Medium.ttf);
    font-weight: 100;
    font-style: medium;
}
@font-face {
    font-family: "Manrope";
    src: url(./fonts/Manrope-Regular.ttf);
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "NeutralFace";
    src: url(./fonts/NeutralFace.otf);
    font-weight: 100;
    font-style: normal;
}